<h1>Here is your shopping cart </h1>
  <%= form_for @product {action: 'add', method: 'post'} do |f| %>
  <%= f.text_field :product %>
  <%= f.submit :submit %>
  <% end %>

  <%= @cart %>




  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
