<h1>Here is your shopping cart </h1>
  <%= form_tag @product, action: 'add', method: 'post' do |f| %>
  <%= f.text_field :product %>
  <%= f.submit :submit %>
  <% end %>
<ol>
  <% @cart.each do |p| %>
  <li><%= p.product %></li>
  <% end %>
</ol>
